html,body{height:100%;}
*{ margin:0;	padding:0;	border:0 none;	font-size:100%;	vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{	display:block;}
body,input,button,select,textarea,table{font:14px "宋体","Tahoma","Arial Narrow",HELVETICA;}
body{	background-color:#f5f5f5;	color:#333; text-align: center; font-family:"宋体";margin:0; padding:0; font-size:14px;}
ul,ol{list-style:none;}
img{vertical-align:top;}
em{font-style:normal}
input,select{vertical-align:text-bottom; *vertical-align:middle;}
label,
input[type=button],
input[type=submit]{cursor:pointer;}
button{cursor:pointer; overflow:visible; padding:0; width:auto;}
textarea{overflow:auto;}
table{	border-collapse:collapse;	border-spacing:0;}
*+html img{-ms-interpolation-mode:bicubic;}
div,form,img,ul,ol,li,dl,dt,dd{margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
img { vertical-align: top; }
input.text, select, textarea { font-family: inherit; font-size: inherit; color: inherit; border: 1px solid #bababa; background-color: #fff; }
input.text, select { height: 20px; line-height: 20px; padding: 0 3px; }
select { padding: 1px; }
textarea { overflow: hidden; padding: 3px; }

a{ text-decoration:none; color:#568eff;}
a.link_grey{ color: #333;}

.g_box { *zoom: 1; }
.g_box:after { clear: both; display: block; visibility: hidden; height: 0; content: "."; }
.g_blue{color:#56a7dd;}
.g_orange{ color:#ff6600;}
.g_red{ color:#B31102;}
.g_error{ color:#990000; font-size:12px; padding:5px;  font-weight:normal;}
.g_clear{height:0px; font-size:0px; clear:both;overflow:hidden;}
.g_tp_10{ padding-top: 10px;}

.wrapper{ width: 980px; margin: auto; padding-bottom: 100px;}
.wrapper_small{ width: 770px; margin: auto; padding-bottom: 100px;}

.g_border{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow:#ccc 0 0 6px;
}

.g_btn_green,
.g_btn_blue,
.g_sbtn_grey,
.g_btn_grey{font-size:18px; border-radius: 4px; color:#fff; padding:10px 15px; text-align:center; cursor:pointer; display: inline-block;}

.g_btn_green{font-size:24px; background:#4157d7; }
.g_btn_blue{ background:#568eff;}
.g_sbtn_grey{ font-size: 14px; background:#eee; color:#0b0b0b; padding:6px 20px; border: 1px solid #ccc;}
.g_btn_grey{ background:#ccc; color:#0b0b0b; padding:15px 15px;}


/****************************************
* 公共头部样式
****************************************/
.g_header{text-align: center; padding: 30px 0 0 0; background:#fff;  border-bottom:2px solid #568eff;}
.g_header .inner{ width: 980px; margin: auto; text-align: left;}


.g_header h1{ font-size: 40px;}
.g_header h1 strong{ font-family: "微软雅黑";}
.g_header h1 span{ color: #999; font-weight: normal;}
.g_header .user_info{ color: #666; padding: 10px 0 0 0;}
.g_header .login_time{ color: #999; padding: 10px 0 10px 0;}

.g_header .nav{ padding: 0 0 0 410px;}
.g_header .nav li{ display: inline-block; margin: 0 10px 0 0;}
.g_header .nav li a{padding: 0 0 5px 0; font-size: 18px; display: inline-block;}
.g_header .nav li a:hover,
.g_header .nav li.current a{color: #333; border-bottom: 4px solid #568eff;}



.g_input{text-align:left; position:relative; height:50px; margin-top:20px;}
.g_input.left{ float: left; width: 48%;}
.g_input.right{ float: right;  width: 50%;}
.g_input.big_left{ float: left; width: 68%;}
.g_input.small_right{ float: right; width: 30%;}
.g_input .gi_icon{ position:absolute; top:0; left:0; display:inline-block; padding:16px 14px 13px 14px; width:23px; height:22px; line-height:50px; border-right:1px solid #ccc;}
.g_input .gi_label{ position:absolute; top:18px; left:7px; padding:0 10px; border-right:1px solid #aaa; text-align:left; font-size:14px; color:#aaa;}
.g_input .gi_input{ text-indent:100px; font-family: inherit; border: 1px solid #c9c9c9; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px;border-radius: 4px; height:40px; padding:5px 0; text-align:left; width:100%; font-size:14px; font-family: "Tahoma", "宋体"; color:#333;}
.g_input .gi_input:focus{background-color:#fff !important;border-color:#4599e4 !important;color:#333 !important;-webkit-box-shadow:0 0 5px rgba(69,153,228,0.5);-moz-box-shadow:0 0 5px rgba(69,153,228,0.5);box-shadow:0 0 5px rgba(69,153,228,0.5)}
.g_input .gi_search{ position: absolute; top: 0; right: -1px; height: 52px; line-height: 50px; padding: 0 10px; background: #568eff; color: #fff; font-size: 18px; -moz-border-radius:0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}
.g_input .gi_op{ position: absolute; top: 0; right: -1px; height: 50px; margin-top: 1px; border-left:1px solid #ccc; line-height: 50px; padding: 0 10px; background: #fff; color: #ccc; font-size: 14px; -moz-border-radius:0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;}
.g_input .gi_select{ position: absolute; top: 0; right: -1px; padding: 22px 10px 0 0;}

.g_input .gi_options{ background: #fff; border:1px solid #ccc; margin-top: -4px; position:absolute; z-index: 1; top: 53px; width: 100%;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}
.g_input .gi_options li{border-bottom: 1px solid #ccc; line-height: 40px;}
.g_input .gi_options li a{ display: block; font-size: 14px; color: #333; padding: 0 0 0 20px;}
.g_input .gi_options li a:hover{ background: #fafafa;}

.g_input.gi_t1 .gi_label{top:18px; left:50px;}
.g_input.gi_t1 .gi_input{text-indent:138px;}


/****************************************
* icons
****************************************/
.icon_email,
.icon_checkbox,
.icon_checked,
.icon_email,
.icon_search,
.icon_result,
.icon_return,
.icon_fold,
.icon_unfold,
.icon_key{background-image:url(icon.png); background-repeat:no-repeat; display:inline-block;font-size:0; vertical-align:middle;}


.icon_email{background-position:0 -50px; width:24px; height:40px;}
.icon_key{background-position:-30px -50px; width:24px; height:40px;}
.icon_checkbox{background-position:-100px -50px; width:16px; height:16px;}
.icon_checked{background-position:-80px -50px; width:16px; height:16px;}
.icon_search{background-position:-60px -50px; width:17px; height:17px;}
.icon_result{background-position:-120px -50px; width:10px; height:10px;}
.icon_return{background-position:-50px 0; width:32px; height:32px;}
.icon_fold{background-position:-135px -50px; width:12px; height:6px;}
.icon_unfold{background-position:-150px -50px; width:12px; height:6px;}





/****************************************
* 翻页
****************************************/
.g_pagination{}
.g_pagination a, .g_pagination span{ display:inline-block; margin:0 2px; color:#333; padding:8px 6px 6px 6px; }
.g_pagination .gp_disable{ color:#999; background:#fff; border:1px solid #c1c1c1; 	-moz-border-radius: 4px;	-webkit-border-radius: 4px;	border-radius: 4px;}
.g_pagination .gp_able{background:#fff; border:1px solid #c1c1c1; 	-moz-border-radius: 4px;	-webkit-border-radius: 4px;	border-radius: 4px;}
.g_pagination a:hover{background:#ccc;border-radius: 4px;}

.g_pagination .gp_current{ color:#000;  background:#eee;	-moz-border-radius: 4px;	-webkit-border-radius: 4px;	border-radius: 4px;}

/****************************************
* 页面的公用尾部
****************************************/
.g_footer{ background:#fff; padding:20px 0 0 0; text-align:right; margin:0; }
.g_footer .f_inner{width:980px; margin:auto; color:#666; height:150px; position:relative;}
.g_footer .f_inner a{color:#666; }
.g_footer .f_inner .cubic{ position:absolute; bottom:0; left:50px; width:200px; height:124px; display:inline-block; background-position:0 -140px;}
.g_footer .f_inner .contact{ position:absolute; top:20px; right:50px;  width:350px; text-align:left;}
.g_footer .f_inner .contact p{ line-height:25px;}
.g_footer .f_inner .contact p.name{ font-size:24px; line-height:35px;}





/****************************************
* 登录页面
****************************************/
.login_page{width:410px; padding:50px 50px 90px 50px; background:#fff; margin:100px auto 0 auto; text-align:left;}
.login_page .head{ border-bottom:2px solid #6c66f2; padding-bottom:30px; margin-bottom:30px;}
.login_page .head .logo{ float:left; width:121px;}
.login_page .head .title{ float:left; width:250px; text-align:left; padding:10px 0 0 20px;}
.login_page .head .title h1{ font-size:48px; color:#333;}
.login_page .head .title h2{ font-size:24px; color:#bbb;}


.login_page .form{}
.login_page .form .note{ margin:20px 0 0 0;}
.login_page .form .note i{ float:left;}
.login_page .form .note .label{ float:left; margin:-1px 0 0 10px; display:inline-block;}

.login_page .form .note .modify{ float:right;}

.login_page .form .item{ margin-top:20px;}
.login_page .form .item a{ display:block;}


.search_page{}
.search_page .items{ background: #fff; border:1px solid #ccc; margin-top: -2px; position:absolute; z-index: 1; top: 53px; width: 817px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}
.search_page .items li{border-bottom: 1px solid #ccc; line-height: 40px; padding: 0 0 0 20px;}
.search_page .items li.last{ border-bottom: 0;}
.search_page .items li a{ display: block; font-size: 14px; color: #333; }
.search_page .items .not_find{ position: absolute; bottom: -40px; padding: 0 0 0 20px;}



.op_page{ text-align: left;}
.op_page .return{ font-size: 18px; line-height: 32px; padding: 20px 0;}
.op_page .return i{ vertical-align: bottom;}
.op_page .return a{ color: #0b0b0b;}

.op_page .content_form{ position: relative; background: #fff;}
.op_page .content_form .hd{ border-bottom:1px solid #ccc; padding: 20px 20px;}
.op_page .content_form .hd .g_btn_grey{ float: right;}
.op_page .content_form .bd{padding: 40px 20px;}
.op_page .content_form .bd.no_tp{padding-top: 0;}


.op_page .content_form h2{ font-size: 30px; color: #0b0b0b;}
.op_page .content_form .info{ color: #aaa;}
.op_page .content_form .item{ padding-top: 30px; text-align: center;}
.op_page .content_form .item.align_right{text-align: right;}
.op_page .content_form .item .g_btn_green{ padding: 10px 60px;}
.op_page .content_form .top_input{float:left; margin-top: 0; width:612px;}
.wrapper .op_page .content_form .top_input{width:820px;}
.op_page .content_form .op_list{margin:0 0 -5px 0;}
.op_page .content_form .op_list a{ display: inline-block; margin-right: 20px; font-weight: bold;}
.op_page .content_form .op_list a.current{ color: #333;}

.op_page .content_form .block{ border-radius: 4px; border: 1px solid #ccc; margin-top:20px; padding: 15px;}
.op_page .content_form .block .title{ color: #aaa; padding: 10px 0 0 0;}
.op_page .content_form .block .row{ margin: 10px 0;}

.op_page .content_form .bar{ border-top:1px solid #ccc; margin: -20px 0 20px 0;}

.op_page .content_form .table{ margin: 20px 0 0 0; border: 1px solid #ccc; border-right: 0;}
.op_page .content_form .table th,
.op_page .content_form .table td{ padding: 10px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; vertical-align: middle;}
.op_page .content_form .table th{ text-align: center; background: #f5f5f5;}

.op_page .pagination{ text-align: center; padding: 20px 0 0 0;}


.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline; }
